@model Problem
@{
    ViewData["Title"] = "Sửa đề bài";
    if(!String.IsNullOrEmpty(Model.Content))
        Model.Content = Model.Content.Replace("$", "~");
}
<div class="Create-EditProblemPage">
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column">
                <div class="Create-EditProblemPage_Input">
                    <h1 class="Create-EditProblemPage_Header">Sửa đề bài @Model.Title</h1>
                    <form asp-asp-controller = "Problem" asp-action="Edit">
                        <div class="FormGroup">
                            <label for="ID">Mã bài :</label>
                            <input type="text" asp-for = "ID">
                        </div>
                        <div class="FormGroup">
                            <label for="Tilte">Tên bài :</label>
                            <input type="text" asp-for = "Title" value= "@Model.Title">
                        </div>
                        <div class="FormGroup">
                            <label>Đề bài :</label>
                            <div class="Editor">
                                <textarea name="Content" id="editor" rows="10" cols="80">
                                </textarea>
                            </div>
                            <div class="Preview">
                                <div class="PreviewButton" id = "PreviewButton">
                                    Update Preview
                                </div>
                                <div class="PreviewContent">
                                </div>
                                <div class="PreviewContent--Hidden" style="display: none;">
                                    @Model.Content
                                </div>
                            </div>
                        </div>
                        <script>
                            
                        </script>
                        <div class="FormGroup">
                            <label for="Difficulity">Độ khó :</label>
                            <input type="text" asp-for = "Difficulty" value="@Model.Difficulty">
                        </div>
                        <div class="FormSubmit">
                            <input type="submit" value = "Lưu" class="button EditProblemSubmit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        var previewBtn = document.getElementById("PreviewButton");

        var previewContent = document.getElementsByClassName("PreviewContent")[0];
        var content = document.getElementsByClassName("PreviewContent--Hidden")[0].innerHTML.replaceAll("~", "$");
        var div = document.createElement("div");
        div.innerHTML = content;

        CKEDITOR.replace('editor');
        previewBtn.addEventListener('click', function(e)
        {
            var html = CKEDITOR.instances.editor.getData();

            html = html.replaceAll("~", "$");

            previewContent.innerHTML = html;

            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });

            CKEDITOR.instances.editor.setData("", function()
            {
                CKEDITOR.instances.editor.insertHtml(html);
                let frame = document.querySelector(".cke_wysiwyg_frame");
                let css = '<style>code {padding: 20px !important;border: 1px solid #ccc;border-radius: 4px;background-color: #f0f0f029 !important;}</style>'
                frame.contentWindow.document.querySelector("head").innerHTML += css;
            });

            document.querySelectorAll('pre code').forEach((block) => {
                if(block.classList == "")
                    block.classList.add("plaintext");
                hljs.highlightBlock(block);
            });
                
            MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
        });
        CKEDITOR.on("instanceReady", function(event)
        {
            CKEDITOR.instances.editor.setData("", function()
            {
                CKEDITOR.instances.editor.insertHtml(div.innerText);
                previewBtn.click();
                var frame = document.querySelector(".cke_wysiwyg_frame");
                var css = '<style>code {padding: 20px !important;border: 1px solid #ccc;border-radius: 4px;background-color: #f0f0f029 !important;}</style>'
                frame.contentWindow.document.querySelector("head").innerHTML += css;
            });
        });
    </script>
}