<div class="SubmitionStatusPage">
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column">
                <div class="SubmitionStatusContainer">
                    <h1 class="SubmitionStatus_Header">Submission</h1>
                    <table cellspacing="0" cellpadding="0" class="SubmitionStatus_Table">
                        <thead class = "SubmitionStatus_Table_Header">
                            <tr>
                                <th>ID</th>
                                <th>Ngày nộp</th>
                                <th>Bài</th>
                                <th>Trạng thái</th>
                                <th>CPU Time</th>
                                <th>Ngôn ngữ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>7197950</td>
                                <td>2021-04-26 13:08:06</td>
                                <td>Hello World!</td>
                                <td>Accepted</td>
                                <td>0.00s</td>
                                <td>C++</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="grid_row">
            <div class="grid_column">
                <div class="SubmitionStatus_Code">
                </div>
            </div>
        </div>
    </div>
</div>