@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin";
}
<div class="grid" style="background-color: #fff; border-radius: 5px; box-shadow: 0 0 3px #ccc;">
    <div class="grid_row" style="justify-content: center;">
        <img src="/img/admin_gif.gif" alt="">
    </div>
</div>