@using PBL3.Models
@using PBL3.General
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dạng bài tập";
}
@model List<Category>
<div class="listObjectsPage">
    <div class="grid_row">
        <div class="grid_column">
            <div class="listObjectsPage_header">
                <div style="display: flex">
                    <h1>Danh sách dạng bài tập</h1>
                    <a asp-action = "AddProblemCategory" asp-controller = "ProblemCategories" style="text-decoration: none;">
                        <div class="button" style="width: 150px; padding: 5px; margin-left: 20px;">Thêm dạng bài mới</div>
                    </a>
                    <a asp-action = "DeletedProblemCategories" asp-controller = "ProblemCategories" style="text-decoration: none;">
                        <div class="button" style="width: 150px; padding: 5px; margin-left: 20px;">Các dạng bài đã xóa</div>
                    </a>
                </div>
            </div>
            @await Html.PartialAsync("_SearchProblemCategoryForm")
            <table cellspacing="0" cellpadding="0" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            Tên dạng bài
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@((ViewBag.currentPage - 1)*Utility.limitData + i + 1)</td>
                            <td>
                                <a asp-action = "EditProblemCategory" asp-controller = "ProblemCategories" asp-route-id = "@Model[i].ID" style="text-decoration: none; color: #008eff">
                                    @Model[i].name
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="grid_row">
    <div class="grid_column">
        @{
            string[] param = {"ProblemCategories", "Admin"};
        }
        @await Html.PartialAsync("_Pagination", param)
    </div>
</div>