<div class="searchForm">
    <form action="" style="display: flex;">
        <input type="text" placeholder="Nhập tên dạng bài" class="searchForm_searchInput"  name = "CategoryName">
        <input type="submit" value="Tìm" class="button searchForm_submit" style="border: none !important; width: 80px; margin-left: 10px;">
    </form>
</div>