@{
    Layout = "_AdminLayout";
}
@using PBL3.Models
@model List<Category>
<div class="listObjectsPage" style="padding: 0;">
    <div class="grid_row">
        <div class="grid_column">
            <div class="listObjectsPage_header">
                <div style="display: flex">
                    <h1>Danh sách dạng bài đã xóa</h1>
                </div>
            </div>
            <table cellspacing="0" cellpadding="0" class="table">
                <thead>
                    <tr>
                        <th>
                            Tên Dạng Bài
                        </th>
                        <th>
                            Ngày xóa
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-controller = "ProblemCategories" asp-action = "RestoreProblemCategory" asp-route-id = "@Model[i].ID" style="color: #008eff; text-decoration: none">@Model[i].name</a>
                            </td>
                            <td>@ViewBag.deleteDates[i].ToString("dd MMMM yyyy, HH:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="grid_row">
    <div class="grid_column">
        @{
            string[] param = {"ListProblems", "Admin"};
        }
        @await Html.PartialAsync("_Pagination", param)
    </div>
</div>