@model Account;

<div class="grid">
    <div class="postPage-layout">
        <div class="grid_row">
            <div class="grid_column-2">
                <div class="inforUser">
                    <div class="inforUser__avatar" style="background-image:url(https://codelearn.io/Themes/TheCodeCampPro/Resources/Images/code-learn/img-preview-bg.png)">
                    </div>
                    <div class="inforUser__name">
                        <h3 class="inforUser__name-title">Tên tài khoản</h3>
                        <span>-</span>
                        <span>Tran Nhu Tri</span>
                    </div>
                </div>
            </div>
            <div class="grid_column-8">
                <div class="listProblemOfUser">
                    <div class="listProblems_header">
                        <h1>Danh sách bài tập</h1>
                    </div>
                    <table cellspacing="0" cellpadding="0" class="table listProblems_table">
                        <thead>
                            <tr>
                                <th></th>
                                <th class = "number">#</th>
                                <th class = "title">
                                    Tên Bài
                                </th>
                                <th class = "points">
                                    Độ Khó
                                </th>
                                <th class = "successRate">
                                    Tỉ Lệ AC
                                </th>
                            </tr>
                            <tbody></tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>