@{
    ViewData["Title"] = "Đăng ký tài khoản";
}
@model User
<div class="SignUpPage">
    <div class="SignUpContainer">
        <form asp-action="SignUp">
            <div class="SignUp_Form SignUp_Form--1">
                <h2 class="SignUp_Form_Title">
                    ĐĂNG KÍ TÀI KHOẢN
                </h2>
                <p class="SignUp_Form_Label">Tên tài khoản</p>
                <input type="text" name="UserName" placeholder="trannhutri" class="SignUp_Form_Textbox">
                <span asp-validation-for="UserName" class="text-danger"></span>

                <p class="SignUp_Form_Label">Mật khẩu</p>
                <input type="password" name="Password" placeholder="Password" class="SignUp_Form_Textbox">
                <span asp-validation-for="PassWord" class="text-danger"></span>

                <p class="SignUp_Form_Label">Nhập lại mật khẩu</p>
                <input type="password" name="ComfirmPassword" placeholder="Confirm Password" class="SignUp_Form_Textbox">
                <div class="SignUp_Form_ButtonBox">
                    <button type="button" class="button SignUp_Form_Button" id="SignUp_Form_NextButton--1" onclick="next()">
                        Next
                    </button>
                </div>
            </div>
            <div class="SignUp_Form SignUp_Form--2">
                <h2 class="SignUp_Form_Title">
                    THÔNG TIN CÁ NHÂN
                </h2>
                <p class="SignUp_Form_Label">Họ</p>
                <input type="text" name="LastName" placeholder="Last Name" class="SignUp_Form_Textbox">
                <p class="SignUp_Form_Label">Tên</p>
                <input type="text" name="FirstName" placeholder="First Name" class="SignUp_Form_Textbox">
                <p class="SignUp_Form_Label">Email</p>
                <input type="text" name="Email" placeholder="Email" class="SignUp_Form_Textbox">
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="SignUp_Form_ButtonBox">
                    <button type="button" class="button SignUp_Form_Button" id="SignUp_Form_BackButton--1"  onclick="back()">
                        Back
                    </button>
                    <input type="submit" class="button SignUp_Form_Button" value="OK">
                </div>
            </div>
        </form>
        <div class="SignUpPage_Step--Row">
            <div class="SignUpPage_Progress"></div>
            <div class="SignUpPage_Step--Col first">Step 1</div>
            <div class="SignUpPage_Step--Col second">Step 2</div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function next()
        {
            document.querySelector(".SignUp_Form--1").style.left="-400px";
            document.querySelector(".SignUp_Form--2").style.left="40px";
            document.querySelector(".SignUpPage_Progress").style.width="360px";
        }

        function back()
        {
            document.querySelector(".SignUp_Form--2").style.left="400px";
            document.querySelector(".SignUp_Form--1").style.left="40px";
            document.querySelector(".SignUpPage_Progress").style.width="180px";
        }
    </script>
}