@using PBL3.Models
@{
    ViewData["Title"] = "Đăng ký tài khoản";
}
@model Account
<div class="signUpPage">
    <div class="signUpContainer">
        <form asp-action="SignUp">
            <div class="signUpForm signUpForm--1">
                <h2 class="signUpForm_title">
                    ĐĂNG KÍ TÀI KHOẢN
                </h2>

                <p class="signUpForm_label">Họ</p>
                <input type="text" name="gmail" placeholder="Họ" class="signUpForm_textBox">
                
                <p class="signUpForm_label">Tên</p>
                <input type="text" name="name" placeholder="Tên" class="signUpForm_textBox">

                <p class="signUpForm_label">Email</p>
			    <input type="text" name="email" placeholder="trannhutri@codetop1.net" class="signUpForm_textBox">

                <p class="signUpForm_label">Tên tài khoản</p>
                <input type="text" asp-for="accountName" placeholder="trannhutri" class="signUpForm_textBox">

                <p class="signUpForm_label">Mật khẩu</p>
                <input type="password" asp-for="passWord" placeholder="Password" class="signUpForm_textBox">

                <p class="signUpForm_label">Nhập lại mật khẩu</p>
                <input type="password" name="ConfirmPassword" placeholder="Confirm Password" class="signUpForm_textBox">
                <div class="signUpForm_buttonBox">
                    <button type="button" class="button signUpForm_button" id="signUpForm_nextButton--1" onclick="next()">
                        Đăng Kí
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
