@{
    Layout = "_AdminLayout";
}
@model Problem
<div class="grow">
    <div class="grid_row">
        <div class="grid_column">
            <div class="deletePage">
                <div class="deletePage_header">
                    <h1>Xác nhận xóa bài @Model.title</h1>
                </div>
                <div class="deletePage_input">
                    <div class="formGroup">
                        <label for="code">Mã bài :</label>
                        <input type="text" asp-for = "code">
                    </div>
                    <div class="formGroup">
                        <label for="tilte">Tên bài :</label>
                        <input type="text" asp-for = "title">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>