@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sửa đề bài";
}
@model Problem
<div class="addEditPage">
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column">
                <div class="addEditPage_header">
                    <h1>Chỉnh sửa đề bài</h1>
                </div>
                <div class="addEditPage_input">
                    <div asp-validation-summary="ModelOnly" class="div-danger"></div>
                    <form asp-action = "EditProblem">
                        @await Html.PartialAsync("_Problem", Model)
                        <div class="formSubmitGroup" style="position: sticky; bottom: 0; background-color: #fff">
                            <div class="formSubmit">
                                <button type="submit" class="submitButton button" name = "next" value = "save">
                                    <i class="fas fa-save"></i>
                                    Lưu thay đổi
                                </button>
                            </div>
                            <div class="formSubmit">
                                <button type="submit" class="submitButton button" name = "next" value = "edit">
                                    <i class="fas fa-save"></i>
                                    <i class="fas fa-caret-right"></i>
                                    <i class="far fa-edit"></i>
                                    <p>Lưu và tiếp tục chỉnh sửa</p>
                                </button>
                            </div>
                            <div class="formSubmit">
                                <a asp-action = "DeleteProblem" asp-controller = "Problems" asp-route-id = "@Model.ID" style="text-decoration: none;">
                                    <div class="submitButton button" style="background-color: #dc3545">
                                        <i class="fas fa-trash-alt"></i>
                                        <p>Xóa bài tập</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>