<div class="listPost">
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column-9">
                <div class="listPost__wrapper">
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Greetings from LightOJ</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Opposite Task</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Country Roads</a>
                            <a href="#" class="listPost-item__dicription-name-author">NhatLong</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Drunk</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Monkey Banana Problem</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Brush (V)</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Rooks</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Guilty Prince</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Knights in Chessboard</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Triangle Partitioning</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Race to 1 Again</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Agent 47</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Monkey Banana Problem</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Fibsieve's Fantabulous Birthday</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Back to Underworld</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Iftar Party</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Easy Game</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">A Toy Company</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Neighbor House</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Civil and Evil Engineer</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Eid</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">Donation</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="#">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                    <div class="listPost-item">
                        <div class="listPost-item__dicription">
                            <a href="#" class="listPost-item__dicription-name">One Way Roads</a>
                            <a href="#" class="listPost-item__dicription-name-author">TranNhuTri</a>
                        </div>
                        <div class="listPost-item__btn">
                            <a href="">
                                Đọc Ngay
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        window.onload = function() {
        var itemElement = document.querySelectorAll('.listPost-item');
        var delay = 0;
        console.log(itemElement[0].style.animationDelay);
        for(var i = 0;i<itemElement.length;i++)
        {
            itemElement[i].style.animationDelay = `${delay}s`;
            itemElement[i].classList.add('effect');
            delay += .15;
            if( i === itemElement.length-1){
                itemElement[i].style.border="none"
            }
        }
        };
    </script>
}