@{
    ViewData["Title"] = "Bài viết";
}
<div class="topic-list">
    <div class="grid">
        <div class="grid_row topic_row">
            <div class="grid_column-3"> 
                <a href="./Articles/Articles.cshtml" class="topic-item">
                    <div class="topic-item__img">
                        <img src="https://static.lightoj.com/category-icons/008-folder.svg" alt="">
                    </div>
                    <div class="topic-item__dicription">
                        <h3 class="topic-item__title">Cấu trúc dữ liệu</h3>
                    </div>
                </a>    
            </div>
            <div class="grid_column-3"> 
                <a href="" class="topic-item">
                    <div class="topic-item__img">
                        <img src="https://static.lightoj.com/category-icons/002-algorithm.svg" alt="">
                    </div>
                    <div class="topic-item__dicription">
                        <h3 class="topic-item__title">Flow/Matching</h3>
                    </div>
                </a>    
            </div>
            <div class="grid_column-3"> 
                <a href="" class="topic-item">
                    <div class="topic-item__img">
                        <img src="https://static.lightoj.com/category-icons/dp.svg" alt="">
                    </div>
                    <div class="topic-item__dicription">
                        <h3 class="topic-item__title">Quy hoạch động</h3>
                    </div>
                </a>    
            </div>
            <div class="grid_column-3"> 
                <a href="" class="topic-item">
                    <div class="topic-item__img"> 
                        <img src="https://static.lightoj.com/category-icons/011-search.svg" alt="">
                    </div>
                    <div class="topic-item__dicription">
                        <h3 class="topic-item__title">String</h3>
                    </div>
                </a>    
            </div>
        </div>
        <div class="grid_row topic_row">
            <div class="grid_column-3"> 
                <a href="" class="topic-item">
                    <div class="topic-item__img">
                        <img src="https://static.lightoj.com/category-icons/001-neural.svg" alt="">
                    </div>
                    <div class="topic-item__dicription">
                        <h3 class="topic-item__title">Đồ thị</h3>
                    </div>
                </a>    
            </div>
            <div class="grid_column-3"> 
                <a href="#" class="topic-item">
                    <div class="topic-item__img">
                        <img src="https://static.lightoj.com/category-icons/calculator.svg" alt="">
                    </div>
                    <div class="topic-item__dicription">
                        <h3 class="topic-item__title">Toán học</h3>
                    </div>
                </a>    
            </div>
            <div class="grid_column-3"> 
                <a href="#" class="topic-item">
                    <div class="topic-item__img">
                        <img src="https://static.lightoj.com/category-icons/matrix.svg" alt="">
                    </div>
                    <div class="topic-item__dicription">
                        <h3 class="topic-item__title">Ma trận</h3>
                    </div>
                </a>    
            </div>
            <div class="grid_column-3"> 
                <a href="#" class="topic-item">
                    <div class="topic-item__img">
                        <img src="https://static.lightoj.com/category-icons/007-rinse.svg" alt="">
                    </div>
                    <div class="topic-item__dicription">
                        <h3 class="topic-item__title">Đệ quy</h3>
                    </div>
                </a>    
            </div>
        </div>
        <div class="grid_row topic_row">
            <div class="grid_column-3"> 
                <a href="#" class="topic-item">
                    <div class="topic-item__img">
                        <img src="https://static.lightoj.com/category-icons/databases.svg" alt="">
                    </div>
                    <div class="topic-item__dicription">
                        <h3 class="topic-item__title">Cơ sở dữ liệu</h3>
                    </div>
                </a>    
            </div>
            <div class="grid_column-3"> 
                <a href="#" class="topic-item">
                    <div class="topic-item__img">
                        <img src="https://static.lightoj.com/category-icons/005-shapes.svg" alt="">
                    </div>
                    <div class="topic-item__dicription">
                        <h3 class="topic-item__title">Hình học</h3>
                    </div>
                </a>    
            </div>
        </div>
    </div>
</div>