@import 'var.scss';
.topic-list
{
    padding: 30px 0;
}

.topic_row
{
    margin-bottom: 20px;
}

.topic_row:last-child
{
    margin-bottom: 0;
}

.topic-item{
    position: relative;
    text-decoration: none;
    color:var(--heading-color);
    display: block;
    background-color: $white-color;
    border-radius: 5px;
    border: 1px solid $shadow-color;
}

.topic-item:hover{
    border: 1px solid $primary-color;
}

.topic-list__heading h2{
    font-size: 20rem;
    line-height: 25px;
    letter-spacing: 0.5rem;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 10px;
}

.topic-item__img{
    text-align: center;
    padding-top: 30px;
}

.topic-item__img img{
    max-height: 120px;
    filter: grayscale(1);
    opacity: .5;
    transition: all linear 0.2s;
}   

.topic-item:hover img{
    filter: grayscale(0);
    opacity: 1;
}

.topic-item:hover .topic-item__title
{
    color: #0074d0c9;
}

.topic-item__title{
    margin: 0;
    font-size: 18rem;
    font-family: 'Roboto',sans-serif;
    line-height:20px;
    margin-bottom: 30px;
    transition: all linear 0.2s;
    color: $light-text-color;
}

.topic-item__dicription{
    padding:20px 15px 0 15px;
    background-color: $white-color;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
}


// listPost
.listPost__wrapper{
    margin: 30px auto;
    margin-bottom: 0;
}

.listPost__wrapper .listPost-item:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.listPost__wrapper .listPost-item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.listPost-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    align-items: center;
    opacity: 0;
    border-bottom:.5px solid #e0e0e0;
    background-color: $white-color;
    font-size: 14rem;
}

.listPost-item:hover{
    background-color: $white-color;
}

.listPost-item__dicription a{
    text-decoration: none;

}
.listPost-item__dicription-name{
    display: block;
    font-size: 18rem;
    color: #393a4f;
    margin-bottom: 10px;
    color: $text-color;
}

.listPost-item__dicription-name:hover{
    color: $blue-color;
}

.listPost-item__dicription-name-author{
    background-color: #eef3fc;
    color: $blue-color;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 12rem;
    display: inline-block;
}

.listPost-item__btn a{
    display: block;
    padding: 7px 21px;
    font-weight: bold;
    border-radius: 50px;
    border: .5px solid #b5b5b5;
    color: $text-color;
    text-decoration: none;
    font-weight: normal;
}

.effect{
    animation: fadeInRightToLeft .5s ease 0s forwards; 
}

@keyframes fadeInRightToLeft {
    0%{
        opacity: 0;
        transform: translateX(-150px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}