@import 'var.scss';
.listProblemsPage
{
    padding: 30px 0;
    .listProblems_container
    {
        box-shadow: 0 0 3px $shadow-color;
        background-color: $white-color;
        border-radius: 4px;
        overflow: hidden;
        .listProblems_header
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            h1 
            {
                font-size: 20rem;
                line-height: 25rem;
                margin: 0;
                color: $text-color;
            }
            a 
            {
                color: $blue-color;
                font-size: 16rem;
                text-decoration: none;
            }
        }
        .listProblems_table
        {
            .number, .problemNumber
            {
                width: 50px;
                text-align: left;
            }
            .title, .problemTitle
            {
                text-align: left;
                width: 50%;
            }
            .problemTitle_link
            {
                text-decoration: none;
                color: $blue-color;
            }
            .icon
            {
                text-align: center;
                font-size: 12rem;
                width: 50px;
            }
        }
    }
}
.problemFilter
{
    background-color: $white-color;
    box-shadow: 0 0 3px $shadow-color;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14rem;
    line-height: 20rem;
    .problemFillter_header
    {
        font-weight: normal;
        font-size: 16rem;
        margin: 10px 0;
    }
    .problemNameFillter
    {
        padding: 10px 0;
        #problemName
        {
            font-size: 14rem;
            width: 100%;
            padding: 5px;
        }
    }
    .problemUnsolvedFillter
    {
        padding: 10px 0;
        #HideSolvedProblem
        {
            margin: 0 5px;
        }
    }
    .problemCategoryFillter
    {
        padding: 10px 0;
        .ss-main
        {
            margin-top: 5px;
        }
        .ss-multi-selected
        {
            border: 1px solid #afafaf;
        }
        .ss-disabled
        {
            color: #ccc !important;
        }
    }
    .problemDifficultFillter
    {
        padding: 10px 0;
        #minDifficult, #maxDifficult
        {
            width: 35%;
            padding: 3px 2px;
            margin: 0 5px;
            font-size: 14rem;
        }
    }
    .problemFillterSubmit
    {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        .problemFillterSubmit_button
        {
            padding: 8px 40px;
            border: none;
        }
    }
}