@import 'var.scss';
.signUpPage
{
    padding-top: 40px;
    .signUpContainer
    {
        margin: 0 auto;
        width: 360px;
        border-radius: 5px;
        box-shadow: 0 1px 10px $shadow-color;
        position: relative;
        font-size: 14rem;
        background-color: $white-color;
        display: flex;
        justify-content: center;
        .signUpForm
        {
            width: 280px;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            transition: .8s;
            .signUpForm_title
            {
                font-weight: normal;
                font-size: 26rem;
                line-height: 30rem;
                text-align: center;
            }
            .signUpForm_label
            {
                color:#333;
                margin-top:5%;
                font-size: 14rem;
                font-weight: normal;
                margin-bottom: 10px;
            }
            .signUpForm_textBox
            {
                outline:none;
                border-radius: 5px;
                border: 1px solid #b3b3b3;
                padding:10px 10px;
            }
            .signUpForm_textbox:focus
            {
                border-color: $primary-color;
            }
            .signUpForm_textbox:hover
            {
                border-color: $primary-color;
            }
            .signUpForm_button
            {
                border-radius: 15px;
                border: none;
                width: 50%;
                height: 35px;
                margin-right: 10px;
            }
            .signUpForm_button:hover{
                opacity: 0.8;
            }
            .signUpForm_buttonBox
            {
                display: flex;
                justify-content: center;
                margin-top: 40px;
            }
        }
    }
}