@{
    Layout = null;
}
@model List<Notification>
@foreach (var item in Model)
{
    <a asp-action = "ViewNotification" asp-controller = "Notification" asp-route-id = "@item.ID" class="appHeader_dropdown_link">
        <li class="appHeader_dropdown_item">
            <p class="appHeader_notiText">@Html.Raw(@item.content)</p>
            @if(item.seen == false)
            {
                <span class="appHeader_dropdown_item-dot"></span>
            }
        </li>
    </a>
}