@import 'var.scss';
.adminPage
{
    font-size: 16rem;
    padding: 30px 0;
    .adminCategory
    {
        background-color: #fff;
        box-shadow: 0 0 3px #ccc;
        border-radius: 4px;
        font-size: 14rem;
        line-height: 20rem;
        .adminCategory_header
        {
            h1 
            {
                font-size: 18rem;
                font-weight: normal;
                margin: 0;
                padding: 15px 20px;
                color: $text-color;
            }
        }
        .adminCategory_list
        {
            list-style: none;
            padding: 0;
            margin: 0;
            .adminCategory_item
            {
                .adminCategory_link
                {
                    text-decoration: none;
                    color: $blue-color;
                    .adminCategory_mainmenu
                    {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 20px;
                        .adminCategory_mainmenu_text
                        {
                            margin: 0;
                            font-size: 16rem;
                            user-select: none;
                        }
                        .adminCategory_mainmenu_icon
                        {
                            font-size: 10rem;
                        }
                        .adminCategory_mainmenu_icon--active
                        {
                            display: none;
                        }
                        .adminCategory_mainmenu_subicon
                        {
                            margin: 0;
                            font-size: 20rem;
                            user-select: none;
                            display: none;
                        }
                        .adminCategory_mainmenu_subicon--active
                        {
                            display: block;
                        }
                    }
                    .adminCategory_mainmenu:hover
                    {
                        background-color: $light-blue-color;
                        color: $white-color;
                        cursor: pointer;
                    }
                    .adminCategory_mainmenu--active
                    {
                        background-color: $light-blue-color;
                        color: $white-color;
                        cursor: pointer;
                    }
                }
                .adminCategory_submenu
                {
                    padding-left: 30px;
                    display: none;
                    .adminCategory_submenu_list
                    {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                    .adminCategory_submenu_item
                    {
                        color: $light-text-color;
                        cursor: pointer;
                        font-size: 16rem;
                        user-select: none;
                        padding: 10px 0 0 0;
                    }
                    .adminCategory_submenu_item--active
                    {
                        color: $blue-color;
                    }
                    .adminCategory_submenu_item:last-child
                    {
                        padding-bottom: 10px;
                    }
                    .adminCategory_submenu_item:hover
                    {
                        color: $blue-color;
                    }
                }
                .adminCategory_submenu--active
                {
                    display: block;
                }
            }
        }
    }
}
code 
{
    padding: 20px !important;
    font-size: 16rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f029 !important;
}

.searchForm
{
    padding: 0 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14rem;
    color: $text-color;
    .searchForm_select
    {
        display: flex;
        .searchForm_select_item
        {
            margin-left: 5px;
            display: flex;
            align-items: center;
        }
        .searchForm_select_item:first-child
        {
            margin-left: 0;
        }
    }
    .searchForm_search
    {
        display: flex;
        .searchForm_searchInput
        {
            margin-right: 10px;
            border-color: #dcdee2;
        }
        .searchForm_submit
        {
            border: none;
            background-color: $primary-color;
            color: $white-color;
            width: 80px;
        }
    }
}