@import 'var.scss';
.CreateProblemPage
{
    background-color: #eeeeee;
    .CreateProblemPage_Input
    {
        background-color: $white-color;
        box-shadow: 0 0 4px #ccc;
        border-radius: 5px;
        padding: 15px 20px;
        margin: 20px 0;
        font-size: 16rem;
        .CreateProblemPage_Header
        {
            font-size: 20rem;
            font-weight: normal;
            margin-bottom: 20px;
        }
        .FormGroup
        {
            margin: 15px 0;
            label 
            {
                width: 80px;
                display: inline-block;
            }
            input 
            {
                width: 300px;
            }
            #Difficulty
            {
                width: 150px;
            }
            .Editor
            {
                padding: 10px 0;
            }
            .Preview
            {
                border: 1px solid #ccc;
                border-radius: 5px;
                .PreviewButton
                {
                    height: 50px;
                    background-color: #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
                .PreviewContent
                {
                    min-height: 100px;
                    padding: 0 20px;
                    overflow-y: auto;
                    font-family: "Merriweather",serif;
                    line-height: 30rem;
                    li 
                    {
                        font-size: 16rem;
                    }
                    h1
                    {
                        font-size: 20rem;
                    }
                    h2
                    {
                        font-size: 18rem;
                    }
                    h3
                    {
                        font-size: 16rem;
                    }
                    h4
                    {
                        font-size: 14rem;
                    }
                }
            }
        }
        .FormSubmit
        {
            display: flex;
            justify-content: center;
        }
        .CreateProblemSubmit
        {
            padding: 10px 40px !important;
        }
    }
}