@import 'var.scss';
.ListProblemsPage
{
    padding: 30px 0;
    .ListProblemsContainer
    {
        box-shadow: 0 0 3px $shadow-color;
        background-color: $white-color;
        padding-top: 20px;
        border-radius: 4px;
        overflow: hidden;
        .ProblemPage_Header
        {
            font-weight: normal;
            font-size: 20rem;
            line-height: 25rem;
            margin: 0 0 20px 20px;
        }
        .ListProblemTable
        {
            width: 100%;
            font-size: 14rem;
            background-color: $white-color;
            th
            {
                padding: 10px;
                font-weight: 100;
                border-bottom: 1px solid rgba(204, 204, 204, 0.5);
                background-color: $light-gray-color;
            }
            .Number, .ProblemNumber
            {
                width: 10%;
            }
            .Title, .ProblemTitle
            {
                text-align: left;
                width: 50%;
            }
            td
            {
                padding: 20px 10px;
                text-align: center;
                border-bottom: 1px solid rgba(204, 204, 204, 0.5);
                .ProblemTitle_Link
                {
                    text-decoration: none;
                    color: $blue-color;
                }
            }
            tr:last-child td:first-child
            {
                border-bottom-left-radius: 4px;
            }
            tr:last-child td:last-child
            {
                border-bottom-right-radius: 4px;
            }
        }
    }
}
.ProblemFilter
{
    background-color: $white-color;
    box-shadow: 0 0 3px $shadow-color;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14rem;
    line-height: 20rem;
    .ProblemFillter_Header
    {
        font-weight: normal;
        font-size: 16rem;
        margin: 10px 0;
    }
    .ProblemNameFillter
    {
        padding: 10px 0;
        #ProblemName
        {
            font-size: 14rem;
            width: 100%;
            padding: 5px;
        }
    }
    .ProblemUnsolvedFillter
    {
        padding: 10px 0;
        #HideSolvedProblem
        {
            margin: 0 5px;
        }
    }
    .ProblemCategoryFillter
    {
        padding: 10px 0;
        .ss-main
        {
            margin-top: 5px;
        }
        .ss-multi-selected
        {
            border: 1px solid #afafaf;
        }
        .ss-disabled
        {
            color: #ccc !important;
        }
    }
    .ProblemDifficultFillter
    {
        padding: 10px 0;
        #MinDifficult, #MaxDifficult
        {
            width: 30%;
            padding: 3px 2px;
            margin: 0 5px;
            font-size: 14rem;
        }
    }
    .ProblemFillterSubmit
    {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        .ProblemFillterSubmit_Button
        {
            padding: 8px 40px;
            border: none;
        }
    }
}