@import 'var.scss';
.signUpPage
{
    padding-top: 40px;
    .signUpContainer
    {
        margin: 0 auto;
        width: 360px;
	    height: 540px;
        border-radius: 5px;
        box-shadow: 0 2px 5px $shadow-color;
        position: relative;
        overflow: hidden;
        font-size: 14rem;
        background-color: $white-color;
        .signUpForm
        {
            width: 280px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top:65px;
            left:40px;
            transition: .8s;
            .signUpForm_title
            {
                text-align: center;
                font-size: 20rem;
                margin-bottom: 10px;
                font-weight: normal;
            }
            .signUpForm_label
            {
                color:#333;
                margin-top:5%;
                font-size: 14rem;
                font-weight: normal;
                margin-bottom: 10px;
            }
            .signUpForm_textBox
            {
                outline:none;
                border-radius: 5px;
                border: 1px solid #b3b3b3;
                padding:10px 10px;
            }
            .signUpForm_textbox:focus
            {
                border-color: $primary-color;
            }
            .signUpForm_textbox:hover
            {
                border-color: $primary-color;
            }
            .signUpForm_button
            {
                border-radius: 15px;
                border: none;
                width: 35%;
                height: 35px;
                margin-right: 10px;
            }
            .signUpForm_button:hover{
                opacity: 0.8;
            }
            .signUpForm_buttonBox
            {
                display: flex;
                justify-content: center;
                margin-top: 40px;
            }
            .GmailConfirm
            {
                margin-top: 100px;
                display: flex;
                justify-content: center;
                .signUpForm_textBox
                {
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    font-size:16rem;
                    margin: 0 2px;
                }
            }
        }
        .signUpForm--2
        {
            left: 400px;
        }
        .signUpPage_step--row
        {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            border:none;
            border-bottom: 1px solid $shadow-color;
            .signUpPage_progress
            {
                height: 40px;
                width: calc(1/2*360px);
                position: absolute;
                background-color: $primary-color;
                transition: .8s;
            }
            .signUpPage_step--colFirst, .signUpPage_step--colSecond
            {
                width: 180px;
                position: relative;
                text-align: center;
                color:white;
                font-size: 14rem;
            }
        }
    }
}