@import 'var.scss';
.SubmitProblemPage
{
    background-color: #eeeeee;
    min-height: 100vh;
    .SubmitProblemForm
    {
        background-color: $white-color;
        padding: 20px;
        margin: 20px 0;
        box-shadow: 0 0 5px $shadow-color;
        border-radius: 4px;
        font-size: 16rem;
        .SubmitProblemPage_Header
        {
            font-size: 20rem;
            font-weight: normal;
            margin: 0;
            margin-bottom: 20px;
        }
        .CodeMirror
        {
            border: 1px solid #ccc;
            font-size: 16rem;
        }
        .SubmitProblem_Inputs
        {
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            #LanguageSubmit
            {
                width: 150px;
                outline: none;
                padding: 2px 5px;
                border: 1px solid $border-color;
                border-radius: 4px;
                cursor: pointer;
                option 
                {
                    font-size: 15rem;
                }
            }
            #LanguageSubmit:focus
            {
                border: 1px solid #ccc;
                box-shadow: 0 0 5px #52a8eccc;
            }
        }
    }
}