$light-text-color: #636363bf;
$gray-text-color: #546e7a;
$dark-color: #263238;
$black-color: #000;
$border-color: #afafaf;
$blue-color: #008eff;
$text-color: #444444;


$light-blue-color: #57a3f3;
$light-gray-color: #f8f8f9;
$shadow-color: #ccc;
$white-color: #fff;
$primary-color: #1dbfaf;
$red-color: #dc3545;
