@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Các tài khoản đã xóa";
}
@using PBL3.Models
@model List<Account>
<div class="listObjectsPage" style="padding: 0;">
    <div class="grid_row">
        <div class="grid_column">
            <div class="listObjectsPage_header">
                <div style="display: flex">
                    <h1>Danh sách tài khoản đã xóa</h1>
                </div>
            </div>
            <table cellspacing="0" cellpadding="0" class="table">
                <thead>
                    <tr>
                        <th>
                            Tên Dạng Bài
                        </th>
                        <th>
                            Ngày xóa
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-controller = "Accounts" asp-action = "RestoreAccount" asp-route-id = "@Model[i].ID" class="link">@Model[i].accountName</a>
                            </td>
                            <td>@ViewBag.deleteDates[i].ToString("dd MMMM yyyy, HH:mm")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="grid_row">
    <div class="grid_column">
        @{
            string[] param = {"ListProblems", "Admin"};
        }
        @await Html.PartialAsync("_Pagination", param)
    </div>
</div>