@{
    ViewData["Title"] = "Tạo bài mới";
}
@model Problem
<div class="Create-EditProblemPage">
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column">
                <div class="Create-EditProblemPage_Input">
                    <h1 class="Create-EditProblemPage_Header">Tạo bài mới</h1>
                    <form asp-action = "create">
                        <div class="FormGroup">
                            <label for="ID">Mã bài :</label>
                            <input type="text" asp-for = "ID">
                        </div>
                        <div class="FormGroup">
                            <label for="Tilte">Tên bài :</label>
                            <input type="text" asp-for = "Title">
                        </div>
                        <div class="FormGroup">
                            <label>Đề bài :</label>
                            <div class="Editor">
                                <textarea name="Content" id="editor" rows="10" cols="80">
                                </textarea>
                            </div>
                            <div class="Preview">
                                <div class="PreviewButton" id = "PreviewButton">
                                    Update Preview
                                </div>
                                <div class="PreviewContent">
                                </div>
                            </div>
                        </div>
                        <div class = "FormGroup">
                            <input type="checkbox" asp-for = "Public" style="width: 20px;" value = "True">
                            <label for="Public">Công khai</label>
                        </div>
                        <div class="FormGroup">
                            <label for="TimeLimit">Giới hạn thời gian :</label>
                            <input type="text" asp-for = "TimeLimit"><span style="margin-left: 10px; color: #7b7b7b">s</span>
                        </div>
                        <div class="FormGroup">
                            <label for="MemoryLimit">Giới hạn bộ nhớ :</label>
                            <input type="text" asp-for = "MemoryLimit"><span style="margin-left: 10px; color: #7b7b7b">KB</span>
                        </div>
                        <div class="FormGroup">
                            <label for="Difficulity">Độ khó :</label>
                            <input type="text" asp-for = "Difficulty">
                            <span asp-validation-for="Difficulty" class="text-danger"></span>
                        </div>
                        <div class="FormSubmit">
                            <input type="submit" value = "Tạo đề bài" class="CreateProblemSubmit button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        CKEDITOR.replace('editor');
        var previewBtn = document.getElementById("PreviewButton");
        previewBtn.addEventListener('click', function(e)
        {
            var html = CKEDITOR.instances.editor.getData();

            html = html.replaceAll("~", "$");

            var previewContent = document.getElementsByClassName("PreviewContent")[0];
            
            previewContent.innerHTML = html;

            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
            
            CKEDITOR.instances.editor.setData("", function()
            {
                CKEDITOR.instances.editor.insertHtml(html);
                var frame = document.querySelector(".cke_wysiwyg_frame");
                var css = '<style>code {padding: 20px !important;border: 1px solid #ccc;border-radius: 4px;background-color: #f0f0f029 !important;}</style>'
                frame.contentWindow.document.querySelector("head").innerHTML += css;
            });

            document.querySelectorAll('pre code').forEach((block) => {
                if(block.classList == "")
                    block.classList.add("plaintext");
                hljs.highlightBlock(block);
            });
                
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
        });
        CKEDITOR.on("instanceReady", function(event)
        {
            var frame = document.querySelector(".cke_wysiwyg_frame");
            var css = '<style>code {padding: 20px !important;border: 1px solid #ccc;border-radius: 4px;background-color: #f0f0f029 !important;}</style>'
            frame.contentWindow.document.querySelector("head").innerHTML += css;
        });
    </script>
}
