h1 {
  font-size: 7vmin;
  margin-bottom: 0;
}
h2 {
  font-size: 3vmin;
  margin-top: 0;
  margin-bottom: 40px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  --mouseStartX: -64;
  --mouseStartY: -64;
  overflow: hidden;
}