input 
{
    outline: none;
    border: 1px solid #afafaf;
    border-radius: 4px;
    padding: 5px;
    font-size: 14rem;
}
input:focus
{
    outline: none;
    border: 1px solid #1dbfaf;
    box-shadow: 0 0 5px #52a8eccc;
}
.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    border-radius: 10px;
    background-color: #1dbfaf;
    color: white;
    cursor: pointer;
}
.button:hover
{
    opacity: 0.8;
}