.appContainer--isCovered {
  height: 100vh;
  overflow: hidden;
}

.appHeader {
  border-bottom: 1px solid #ccc;
}

.appHeader .appHeader_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appHeader .appHeader_row .appHeader_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item {
  padding: 10px 15px;
  font-size: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_text {
  padding: 5px 0;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_text .appHeader_link {
  text-decoration: none;
  font-size: 16rem;
  color: #636363bf;
  font-weight: 600;
  display: block;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .login_link, .appHeader .appHeader_row .appHeader_list .appHeader_item .register_link {
  position: relative;
  text-decoration: none;
  color: #008eff;
  font-size: 14rem;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .login_link::before {
  content: "";
  height: 20px;
  width: 1px;
  background-color: #e3e2e2;
  position: absolute;
  top: -20%;
  right: -24%;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_logo .appHeader_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_logo .appHeader_link img {
  height: 20rem;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_bellIcon, .appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_avarIcon {
  position: relative;
  cursor: pointer;
  color: #636363bf;
  font-size: 18rem;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .number_notifi {
  position: absolute;
  background: #e53935;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  padding: 1px 4px;
  text-align: center;
  pointer-events: none;
  top: -8px;
  left: 10px;
  opacity: 0;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_dropdown {
  position: absolute;
  right: 0px;
  top: 170%;
  width: 250px;
  -webkit-box-shadow: 0 0 5px #63636394;
          box-shadow: 0 0 5px #63636394;
  border-radius: 5px;
  -webkit-transform-origin: calc(100% - 10px) top;
          transform-origin: calc(100% - 10px) top;
  -webkit-animation: dropListGrowth ease-in 0.2s;
          animation: dropListGrowth ease-in 0.2s;
  background-color: #fff;
  display: none;
  z-index: 1;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_notifications_dropdown {
  width: 400px !important;
  position: absolute;
  right: 0px;
  top: 170%;
  width: 250px;
  -webkit-box-shadow: 0 0 5px #63636394;
          box-shadow: 0 0 5px #63636394;
  border-radius: 5px;
  background-color: #fff;
  display: none;
  z-index: 1;
  -webkit-transform-origin: calc(100% - 10px) top;
          transform-origin: calc(100% - 10px) top;
  -webkit-animation: dropListGrowth ease-in 0.2s;
          animation: dropListGrowth ease-in 0.2s;
  max-height: 400px;
  overflow-y: auto;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_notifications_dropdown::-webkit-scrollbar {
  width: 6px;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_notifications_dropdown::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_dropdown_list {
  list-style: none;
  padding: 0;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_dropdown_list .appHeader_dropdown_link {
  text-decoration: none;
  color: #636363de;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_dropdown_list .appHeader_dropdown_link .appHeader_dropdown_item {
  font-size: 16px;
  padding: 12px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_dropdown_list .appHeader_dropdown_link .appHeader_dropdown_item .appHeader_dropdown_icon {
  padding: 0 10px;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_dropdown_list .appHeader_dropdown_link .appHeader_dropdown_item .appHeader_notiText {
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.7);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_dropdown_list .appHeader_dropdown_link .appHeader_dropdown_item .appHeader_dropdown_item-dot {
  background: #008eff;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  margin-left: auto;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_dropdown_list .appHeader_dropdown_item:hover .appHeader_dropdown_link {
  color: #263238;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_dropdown_list .appHeader_dropdown_item:hover {
  background-color: rgba(204, 204, 204, 0.267);
}

.appHeader .appHeader_row .appHeader_list .appHeader_item .appHeader_dropdown::after {
  content: "";
  width: 100%;
  height: 15px;
  position: absolute;
  top: -15px;
  right: 0;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item:first-child {
  padding-left: 0;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item:hover .appHeader_link {
  color: #2d8cf0;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item--active {
  border-bottom: 2px solid #01aaff;
}

.appHeader .appHeader_row .appHeader_list .appHeader_item--active .appHeader_text .appHeader_link {
  color: #008eff;
}

.appBody {
  min-height: 100vh;
  background-color: #dedede9c;
}

.appFooter {
  text-align: center;
  font-size: 14rem;
  border-top: 1px solid #afafaf;
  padding: 5px 0;
}

.appFooter .appFooter_link {
  text-decoration: none;
  color: #008eff;
}

code {
  padding: 20px !important;
  font-size: 16rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f029 !important;
  line-height: 22rem;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 5s ease-in;
  transition: all 5s ease-in;
  display: none;
}

.overlay--active {
  display: block;
}

.main {
  font-size: 16rem;
  padding: 30px 0px;
}

.main__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content--left {
  width: 100%;
}

.main__header--initial {
  background-color: #fff;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 25px;
  border: 1px solid #dedede;
}

.main__header--initial-heading {
  text-align: center;
  margin-top: 30px;
}

.heading__title {
  font-size: 30rem;
  color: #363636;
  font-weight: 500;
  margin-bottom: 25px;
}

.heading__infor {
  height: 24px;
  font-size: 12rem;
}

.heading__infor-user {
  background-color: #1dbfaf;
  color: white;
  padding: 5px 10px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  margin-right: -4px;
}

.heading__infor-date {
  background-color: #f5f5f5;
  color: #524c4a;
  padding: 5px 8px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.main__header--initial-dicription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.dicription-paragraph {
  color: #4a4a4a;
  font-size: 14rem;
  line-height: 24rem;
  letter-spacing: .5px;
  margin-left: 25px;
}

.dicription-img {
  min-width: 360px;
  width: 360px;
  margin-left: 40px;
  margin-right: 20px;
  height: 240px;
}

.dicription-img img {
  width: 100%;
  height: 240px;
}

.dicription-paragraph p {
  margin-bottom: 15px;
}

.main__header--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.pratice {
  margin-right: 17px;
}

.contest {
  margin-right: 17px;
}

.item-function {
  background-color: #fff;
  min-width: 300px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #dedede;
  padding-right: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
}

.item-function::after {
  content: "";
  position: absolute;
  top: 99%;
  right: 0px;
  width: 100%;
  height: 4px;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  background-color: #1dbfaf;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
}

.item-function:hover {
  -webkit-box-shadow: 0 3px 8px 4px #333e491a;
          box-shadow: 0 3px 8px 4px #333e491a;
}

.item-function:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.item-function--link {
  text-decoration: none;
}

.item-function--img {
  height: 120px;
  text-align: center;
  margin: 16px 0 20px 0;
}

.item-function--img img {
  height: 100%;
  width: 110px;
}

.item-function--heading {
  color: #363636;
  font-size: 24rem;
  letter-spacing: .5px;
  margin-left: 25px;
  margin-bottom: 27px;
  font-weight: 500;
}

.item-function--dicription {
  color: #4a4a4a;
  font-size: 16rem;
  letter-spacing: .3px;
  margin-left: 25px;
  margin-bottom: 28px;
  line-height: 25px;
}

.feedback {
  background-color: #fff;
  margin-top: 25px;
  border-radius: 5px;
  border: 1px solid #dedede;
}

.feedback .feedback_editor {
  padding: 20px 25px;
  padding-bottom: 0;
}

.feedback .feedback_submit {
  padding: 20px 25px;
}

.feedback .feedback_submit .feedback_submitButton {
  border: none;
  padding: 10px 50px;
  margin-left: auto;
}

.feedback_title {
  padding: 20px 25px;
  font-size: 14rem;
  color: #363636;
  -webkit-box-shadow: #0000001a 0px 2px 3px;
          box-shadow: #0000001a 0px 2px 3px;
}

.feedback_title h3 {
  margin: 10px 0;
}

.main__content--right {
  width: 100%;
}

.main__content--statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 18px 25px 18px 20px;
  border-radius: 5px;
  border: 1px solid #dedede;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.statistic-solved {
  text-align: center;
  border-right: 1px solid #dedede;
  padding: 0px 36px 0px 17px;
}

.statistic-submission {
  text-align: center;
  padding-left: 20px;
}

.statistic-dicription {
  display: block;
}

.statistic-dicription--number {
  color: #363636;
  font-size: 20rem;
  font-weight: 600;
  padding-top: 5px;
}

.statistic-dicription--title {
  color: #999;
  font-size: 12rem;
  font-weight: 300;
  margin-top: 6px;
}

.main__content--chart {
  background-color: #fff;
  margin-top: 25px;
  border-radius: 5px;
  border: 1px solid #dedede;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16rem;
  color: #4a4a4a;
}

.statistic--chart {
  color: #4a4a4a;
  font-size: 14rem;
  line-height: 12rem;
}

.chart-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.pagination {
  font-size: 14rem;
  font-family: Arial;
  padding: 10px 0;
}

.pagination .pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination .pagination-list .pagination-item {
  margin: 0 4px;
}

.pagination .pagination-list .pagination-item .pagination-item_link {
  display: block;
  text-decoration: none;
  min-width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  background-color: white;
  color: #008eff;
}

.pagination .pagination-list .pagination-item .pagination-item_link:hover {
  color: white;
  background-color: #008eff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pagination .pagination-list .pagination-item .pagination-item_link.active {
  color: white;
  background-color: #008eff;
}

.pagination .pagination-list .pagination-item_icon {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bold;
  font-size: 24rem;
}

.pagination .pagination-list .pagination-item--active .pagination-item_link {
  color: white;
  background-color: #008eff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/*# sourceMappingURL=Home.css.map */