.ProblemPage {
  min-height: 100vh;
  padding: 30px 0;
  font-size: 18rem;
  font-family: "Merriweather",serif;
  line-height: 30rem;
  background-color: #eeeeee;
}

.ProblemPage .ProblemContent {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 4px #ccc;
  border-radius: 4px;
}

.ProblemPage .ProblemContent .ProblemPageHeader {
  font-size: 26px;
  font-weight: normal;
  margin: 20px 0;
}

.ProblemPage .ProblemContent li {
  font-size: 18rem;
}

.ProblemPage .ProblemContent h1 {
  font-size: 20rem;
}

.ProblemPage .ProblemContent h2 {
  font-size: 18rem;
}

.ProblemPage .ProblemContent h3 {
  font-size: 16rem;
}

.ProblemPage .ProblemContent h4 {
  font-size: 14rem;
}

.ProblemPage .ProblemMenu {
  font-family: "Arial",serif;
  background-color: #fff;
  box-shadow: 0 0 4px #ccc;
  border-radius: 4px;
  padding: 15px;
}

.ProblemPage .ProblemMenu .ProblemMenu_Buttons {
  display: flex;
  justify-content: space-between;
}

.ProblemPage .ProblemMenu .ProblemMenu_Buttons .ProblemMenu_Link {
  margin-top: 10px;
  text-decoration: none;
}

.ProblemPage .ProblemMenu .ProblemMenu_Buttons .ProblemMenu_Link .ProblemSubmitButton, .ProblemPage .ProblemMenu .ProblemMenu_Buttons .ProblemMenu_Link .ProblemStatistictButton {
  border: none;
  color: #fff;
  transition: all 0.05s ease-in;
  width: 120px;
  padding: 10px 0;
}

.ProblemPage .ProblemMenu .ProblemMenu_Buttons .ProblemMenu_Link .ProblemSubmitButton i, .ProblemPage .ProblemMenu .ProblemMenu_Buttons .ProblemMenu_Link .ProblemStatistictButton i {
  padding: 0 5px;
}

.ProblemPage .ProblemMenu .ProblemMenu_Buttons .ProblemMenu_Link .ProblemSubmitButton:hover, .ProblemPage .ProblemMenu .ProblemMenu_Buttons .ProblemMenu_Link .ProblemStatistictButton:hover {
  transform: scale(1.04);
}

.ProblemPage .ProblemMenu .ProblemMenu_Buttons .ProblemMenu_Link .ProblemSubmitButton {
  background-color: #52bb50;
  border-bottom: 3px solid #53a152;
}

.ProblemPage .ProblemMenu .ProblemMenu_Buttons .ProblemMenu_Link .ProblemStatistictButton {
  background-color: #00b1bc;
  border-bottom: 3px solid #099ca7;
}

.ProblemPage .ProblemMenu .ProblemPropertyContainer {
  margin-top: 20px;
  font-size: 14rem;
}

.ProblemPage .ProblemMenu .ProblemPropertyContainer .ProblemProperty {
  margin: 5px 0;
}

.ProblemPage .ProblemMenu .ProblemPropertyContainer .CUDProblem {
  text-decoration: none;
  color: #008eff;
  display: block;
  cursor: pointer;
  margin: 0;
}

code {
  padding: 20px !important;
  font-size: 16rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f029 !important;
}

.ConfirmDeleteProblem {
  position: absolute;
  min-width: 30%;
  max-width: 50%;
  min-height: 20%;
  background-color: #fff;
  border-radius: 10px;
}

.ConfirmDeleteProblem .ConfirmDeleteProblem_Header {
  font-size: 20rem;
  font-weight: normal;
  padding: 5px 20px;
}

.ConfirmDeleteProblem .ConfirmDeleteProblem_Warning {
  font-size: 14rem;
  padding: 5px 20px;
  color: #dc3545;
}

.ConfirmDeleteProblem .ConfirmDeleteProblem_Buttons {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.ConfirmDeleteProblem .ConfirmDeleteProblem_Buttons .DeleteProblem_Button {
  padding: 10px 40px;
  margin: 0 20px;
  border: none;
}
/*# sourceMappingURL=ProblemPage.css.map */