@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Lịch sử chỉnh sửa chủ đề";
}
@model List<PBL3.Models.Action>
<div class="listObjectsPage" style="padding: 0;">
    <div class="grid_row">
        <div class="grid_column">
            <div class="listObjectsPage_header">
                    <h1>Lịch sử chỉnh sửa dạng bài</h1>
            </div>
            @await Html.PartialAsync("_Actions", Model)
        </div>
    </div>
</div>